# Tables for thesis

In [2]:
import pandas as pd
import numpy as np
import glob
import os
import json
import re
from pathlib import Path
from sklearn.preprocessing import StandardScaler

In [3]:
# directory management
wdir = os.getcwd()
udir = os.path.join(os.path.split(wdir)[0], "utils")
ddir = os.path.join(os.path.split(os.path.split(wdir)[0])[0], "fair_ml_thesis_data", "rawdata")
cdir = os.path.join(os.path.split(os.path.split(wdir)[0])[0], "fair_ml_thesis_data", "clustering")
adir = os.path.join(os.path.split(os.path.split(wdir)[0])[0], "fair_ml_thesis_data", "aggregated")

json_file_path = os.path.join(udir,'tasks_metadata.json')
with open(json_file_path, 'r') as j:
    task_infos = json.loads(j.read())

## Create year table with this info for each state:
- sample size
- share of positive class
- share of male vs female
- share of white/black/other
- share of privileged group in positive class (sex)
- share of privileged group in positive class (race)

In [4]:
# get all files for year y
year=2014
task='ACSEmployment'
data_file_paths = glob.glob(os.path.join(ddir, str(year), '1-Year') + f'/{str(year)}*_{task}.csv')
data_file_paths

['C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AK_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AL_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AR_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AZ_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_CA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_CO_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_CT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_DE_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_FL_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_GA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_HI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_IA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_ID_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_IL_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_IN_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_KS_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_KY_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_LA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MD_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_ME_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MN_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MO_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MS_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NC_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_ND_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NE_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NH_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NJ_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NM_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NV_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NY_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_OH_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_OK_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_OR_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_PA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_RI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_SC_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_SD_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_TN_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_TX_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_UT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_VA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_VT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WV_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WY_ACSEmployment.csv']

In [5]:
state_pattern = re.compile(r"_([^_]+)_")
test_path = Path(data_file_paths[0])
print(state_pattern.findall(test_path.name)[-1])

AK

In [10]:
table_1 = {'state code':[],'sample size (cleaned)':[], 'employed (rate, %)':[],
           'male (rate, %)':[],'female (rate, %)':[],'white (rate, %)':[],'black (rate, %)':[],'other (rate, %)':[],
           '[male,employed] (rate, %)':[], '[white,employed] (rate, %)':[]}

for p in data_file_paths:

    # load data and change RAC1P values
    df = pd.read_csv(p)
    for c in task_infos['tasks'][1]['columns']:
        df.loc[:,c] = df.loc[:,c].astype(int)

    # age between 16 and 90
    df = df[df['AGEP'].between(16,90)]
    df['RAC1P'] = pd.to_numeric(df['RAC1P'])
    df.loc[df['RAC1P'] > 2, 'RAC1P'] = 3

    # state name
    table_1['state code'].append(state_pattern.findall(p)[-1])
    # sample size
    table_1['sample size (cleaned)'].append(len(df))

    # percentage of employed (esr 1) in dataset
    table_1['employed (rate, %)'].append(round(df['ESR'].value_counts(normalize=True).to_dict()[1],4)*100)
    # share of male and female
    table_1['male (rate, %)'].append(round(df['SEX'].value_counts(normalize=True).to_dict()[1],4)*100)
    table_1['female (rate, %)'].append(round(df['SEX'].value_counts(normalize=True).to_dict()[2],4)*100)
    # share of white,black,other (RAC1P)
    table_1['white (rate, %)'].append(round(df['RAC1P'].value_counts(normalize=True).to_dict()[1],4)*100)
    table_1['black (rate, %)'].append(round(df['RAC1P'].value_counts(normalize=True).to_dict()[2],4)*100)
    table_1['other (rate, %)'].append(round(df['RAC1P'].value_counts(normalize=True).to_dict()[3],4)*100)
    # share of male employed                                        ,2))
    table_1['[male,employed] (rate, %)'].append(round( (len(df[ (df['SEX']==1) & (df['ESR']==1) ])/len
    (df[df['ESR']==1])), 4) *100)
    # share of white employed
    table_1['[white,employed] (rate, %)'].append(round( (len(df[ (df['RAC1P']==1) & (df['ESR']==1) ])/len
    (df[df['ESR']==1])), 4) *100)
table1_final = pd.DataFrame.from_dict(table_1)
table1_final

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

5074
{1: 0.550453291288924, 0: 0.44954670871107605}
AK -> 53.41926244181884
39150
{0: 0.5155300127713921, 1: 0.4844699872286079}
AL -> 51.94284810460273
23861
{0: 0.5115460374669963, 1: 0.48845396253300366}
AR -> 52.62977262977263

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

52589
{1: 0.5032611382608531, 0: 0.496738861739147}
AZ -> 52.796040202524

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

298838
{1: 0.5369799021543445, 0: 0.4630200978456555}
CA -> 53.66236679753224
42090
{1: 0.6010216203373723, 0: 0.3989783796626277}
CO -> 52.88374115507768

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

29475
{1: 0.582086513994911, 0: 0.41791348600508904}
CT -> 50.92382118085912
7406
{1: 0.5445584661085606, 0: 0.4554415338914394}
DE -> 50.38432928341186

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

160571
{1: 0.5010992022220699, 0: 0.49890079777793}
FL -> 50.90601774750814
77261
{1: 0.5274588731701635, 0: 0.4725411268298365}
GA -> 51.521397722811145

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

11546
{1: 0.5416594491598822, 0: 0.45834055084011777}
HI -> 50.831467860569234
25396
{1: 0.598440699322728, 0: 0.401559300677272}
IA -> 51.855507303592574
11935
{1: 0.5431922915793883, 0: 0.45680770842061164}
ID -> 54.218725898503784

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

102240
{1: 0.5682609546165884, 0: 0.43173904538341157}
IL -> 51.79262982151156
53408
{1: 0.5566020071899341, 0: 0.4433979928100659}
IN -> 52.201702156288896
22783
{1: 0.5820567967344072, 0: 0.41794320326559276}
KS -> 52.869316039514366

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

36108
{1: 0.5106070676858314, 0: 0.4893929323141686}
KY -> 51.84140586863373
35484
{1: 0.5126535903505806, 0: 0.48734640964941944}
LA -> 51.35506569182563

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

56286
{1: 0.5952990086344739, 0: 0.40470099136552606}
MA -> 49.870176381054705
47531
{1: 0.5993982874334645, 0: 0.40060171256653554}
MD -> 50.26325026325026
10897
{1: 0.5351931724327796, 0: 0.46480682756722036}
ME -> 50.41152263374485

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

80191
{1: 0.5186741654300357, 0: 0.4813258345699642}
MI -> 51.91738994542351
43678
{1: 0.6172901689637804, 0: 0.3827098310362196}
MN -> 52.25502559157332
49574
{1: 0.5427643522814378, 0: 0.4572356477185622}

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

MO -> 51.02389712714164
23362
{0: 0.5296207516479754, 1: 0.47037924835202466}
MS -> 50.623350623350625
7985
{1: 0.5561678146524733, 0: 0.4438321853475266}
MT -> 52.1729340238685

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

79453
{1: 0.5225856795841567, 0: 0.4774143204158433}
NC -> 51.26803304352015
6128
{1: 0.6015013054830287, 0: 0.3984986945169713}
ND -> 54.69343461747152
15132
{1: 0.6262225746761829, 0: 0.3737774253238171}
NE -> 52.057830308146904
11227
{1: 0.6079985748641668, 0: 0.39200142513583325}
NH -> 51.58218576032816

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

71194
{1: 0.5807511868977723, 0: 0.4192488131022277}
NJ -> 51.66400619165095
15475
{0: 0.5109531502423263, 1: 0.48904684975767365}
NM -> 51.22885835095138
21489
{1: 0.5437200428126018, 0: 0.4562799571873982}
NV -> 52.892844916124616

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

160266
{1: 0.5505659341345014, 0: 0.4494340658654986}
NY -> 50.627287872434465
95226
{1: 0.5521496230021212, 0: 0.4478503769978787}

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

OH -> 51.71075904828925
29418
{1: 0.5267523285063567, 0: 0.47324767149364333}
OK -> 53.54930304594734
32083
{1: 0.532244490851853, 0: 0.467755509148147}
OR -> 51.914968376669016

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

105512
{1: 0.5526954280081886, 0: 0.44730457199181134}
PA -> 52.05775430413608
8914
{1: 0.5689925959165358, 0: 0.4310074040834642}
RI -> 50.177444794952685
38896
{1: 0.5096153846153846, 0: 0.49038461538461536}
SC -> 51.23095550398548
6787
{1: 0.6139678797701488, 0: 0.38603212022985117}
SD -> 52.603791696664274

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

53044
{1: 0.5196440690747304, 0: 0.48035593092526957}
TN -> 51.55637788419678

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

199010
{1: 0.5622230038691522, 0: 0.4377769961308477}
TX -> 53.82436007436008
20823
{1: 0.6112952024204005, 0: 0.38870479757959947}
UT -> 56.39091837536334

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

67316
{1: 0.5711717867966011, 0: 0.4288282132033989}
VA -> 50.95321074670343
5305
{1: 0.5924599434495759, 0: 0.40754005655042413}
VT -> 51.065860642698055
56576
{1: 0.550233314479638, 0: 0.449766685520362}
WA -> 52.540957275939604
47489
{1: 0.5943481648381731, 0: 0.40565183516182696}
WI -> 51.78742249778565
15111
{0: 0.5325921514128781, 1: 0.467407848587122}
WV -> 52.44230496955967
4574
{1: 0.5972890249234806, 0: 0.4027109750765195}
WY -> 53.294289897510986

C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)
C:\Users\sarab\AppData\Local\Temp\ipykernel_1688\1843594873.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,c] = df.loc[:,c].astype(int)

,state code,sample size (cleaned),"employed (rate, %)","male (rate, %)","female (rate, %)","white (rate, %)","black (rate, %)","other (rate, %)","[male,employed] (rate, %)","[white,employed] (rate, %)"
0,AK,5074,55.05,52.98,47.02,56.96,1.50,41.55,53.42,62.51
1,AL,39150,48.45,47.29,52.71,73.20,23.44,3.37,51.94,75.53
2,AR,23861,48.85,48.03,51.97,82.30,13.56,4.14,52.63,83.46
3,AZ,52589,50.33,49.35,50.65,79.12,3.52,17.36,52.80,80.08
4,CA,298838,53.70,49.07,50.93,63.79,5.34,30.86,53.66,63.49
5,CO,42090,60.10,49.59,50.41,87.82,3.15,9.03,52.88,88.44
6,CT,29475,58.21,47.82,52.18,82.03,8.44,9.54,50.92,82.88
7,DE,7406,54.46,48.19,51.81,76.79,16.50,6.71,50.38,76.64
8,FL,160571,50.11,47.70,52.30,80.36,13.30,6.34,50.91,80.00
9,GA,77261,52.75,47.94,52.06,66.80,26.55,6.65,51.52,68.42
10,HI,11546,54.17,49.60,50.40,27.01,1.65,71.35,50.83,23.60
11,IA,25396,59.84,48.81,51.19,95.20,1.70,3.10,51.86,95.76
12,ID,11935,54.32,49.83,50.17,93.31,0.51,6.18,54.22,93.18
13,IL,102240,56.83,48.37,51.63,79.05,11.29,9.66,51.79,81.46
14,IN,53408,55.66,48.47,51.53,88.89,6.91,4.20,52.20,90.16
15,KS,22783,58.21,49.25,50.75,89.33,4.06,6.61,52.87,90.10
16,KY,36108,51.06,48.24,51.76,90.68,6.34,2.98,51.84,91.12
17,LA,35484,51.27,47.83,52.17,67.39,28.19,4.42,51.36,70.37
18,MA,56286,59.53,47.47,52.53,83.15,5.81,11.04,49.87,84.02
19,MD,47531,59.94,47.29,52.71,63.91,25.60,10.48,50.26,64.84
20,ME,10897,53.52,48.46,51.54,95.80,0.94,3.27,50.41,95.97
21,MI,80191,51.87,48.90,51.10,85.01,9.82,5.16,51.92,87.25
22,MN,43678,61.73,50.14,49.86,92.07,2.52,5.41,52.26,92.63
23,MO,49574,54.28,48.27,51.73,86.96,8.79,4.24,51.02,88.61
24,MS,23362,47.04,47.10,52.90,61.62,35.75,2.63,50.62,64.68
25,MT,7985,55.62,49.72,50.28,90.33,0.50,9.17,52.17,92.64
26,NC,79453,52.26,47.80,52.20,73.85,19.19,6.96,51.27,75.46
27,ND,6128,60.15,50.60,49.40,92.41,0.72,6.87,54.69,94.00
28,NE,15132,62.62,49.07,50.93,91.89,2.82,5.29,52.06,92.80
29,NH,11227,60.80,49.00,51.00,94.97,0.99,4.04,51.58,95.11
30,NJ,71194,58.08,47.66,52.34,72.66,11.88,15.46,51.66,73.02
31,NM,15475,48.90,48.61,51.39,68.65,1.51,29.84,51.23,71.25
32,NV,21489,54.37,49.23,50.77,71.57,7.08,21.35,52.89,70.61
33,NY,160266,55.06,47.64,52.36,71.43,12.95,15.62,50.63,72.62
34,OH,95226,55.21,48.12,51.88,86.06,9.90,4.03,51.71,87.85
35,OK,29418,52.68,49.64,50.36,74.97,5.81,19.22,53.55,75.39
36,OR,32083,53.22,48.67,51.33,87.77,1.43,10.80,51.91,87.57
37,PA,105512,55.27,48.78,51.22,88.25,7.15,4.60,52.06,90.10
38,RI,8914,56.90,47.29,52.71,85.78,4.91,9.31,50.18,86.97
39,SC,38896,50.96,47.72,52.28,72.45,23.74,3.81,51.23,74.62
40,SD,6787,61.40,49.85,50.15,87.42,0.85,11.73,52.60,90.64
41,TN,53044,51.96,47.74,52.26,82.24,13.64,4.12,51.56,82.86
42,TX,199010,56.22,48.69,51.31,78.41,10.34,11.25,53.82,78.68
43,UT,20823,61.13,49.80,50.20,90.60,0.79,8.61,56.39,90.70
44,VA,67316,57.12,48.10,51.90,73.40,16.85,9.75,50.95,74.26
45,VT,5305,59.25,48.77,51.23,96.29,0.75,2.96,51.07,96.79
46,WA,56576,55.02,48.74,51.26,81.64,2.68,15.68,52.54,81.28
47,WI,47489,59.43,49.76,50.24,92.10,3.50,4.41,51.79,93.27
48,WV,15111,46.74,47.98,52.02,94.62,3.27,2.11,52.44,94.97
49,WY,4574,59.73,49.58,50.42,91.23,0.72,8.05,53.29,92.94

In [29]:
#table1_final.style.to_latex()
print(table1_final.to_latex())

\begin{tabular}{llrrrrrrrrr}
\toprule
{} & state code &  sample size (cleaned) &  employed (rate, \%) &  male (rate, \%) &  female (rate, \%) &  white (rate, \%) &  black (rate, \%) &  other (rate, \%) &  [male,employed] (rate, \%) &  [white,employed] (rate, \%) \\
\midrule
0  &         AK &                   5155 &               54.06 &           52.86 &             47.14 &            59.13 &             1.84 &            39.03 &                      53.14 &                       62.33 \\
1  &         AL &                  39366 &               49.71 &           47.64 &             52.36 &            75.16 &            21.08 &             3.76 &                      52.38 &                       76.98 \\
2  &         AR &                  24454 &               50.27 &           48.13 &             51.87 &            82.93 &            11.65 &             5.43 &                      51.90 &                       83.75 \\
3  &         AZ &                  56420 &               51.70 &           49.26 &             50.74 &            79.15 &             3.80 &            17.05 &                      52.51 &                       79.06 \\
4  &         CA &                 307986 &               56.09 &           48.98 &             51.02 &            62.44 &             4.95 &            32.61 &                      53.02 &                       61.72 \\
5  &         CO &                  45167 &               61.67 &           49.64 &             50.36 &            87.99 &             2.76 &             9.25 &                      52.90 &                       88.24 \\
6  &         CT &                  29858 &               59.15 &           48.12 &             51.88 &            81.54 &             8.28 &            10.18 &                      51.12 &                       82.07 \\
7  &         DE &                   7675 &               54.06 &           47.69 &             52.31 &            77.33 &            15.93 &             6.74 &                      50.40 &                       77.03 \\
8  &         FL &                 169985 &               51.94 &           48.25 &             51.75 &            80.95 &            11.68 &             7.37 &                      51.46 &                       80.20 \\
9  &         GA &                  81405 &               55.39 &           48.10 &             51.90 &            67.16 &            24.93 &             7.91 &                      51.75 &                       68.12 \\
10 &         HI &                  11710 &               55.73 &           50.03 &             49.97 &            26.26 &             1.81 &            71.93 &                      50.80 &                       23.34 \\
11 &         IA &                  26015 &               60.63 &           49.43 &             50.57 &            94.56 &             1.85 &             3.59 &                      52.33 &                       94.93 \\
12 &         ID &                  13043 &               54.93 &           49.67 &             50.33 &            92.36 &             0.53 &             7.11 &                      54.76 &                       92.32 \\
13 &         IL &                 102724 &               58.59 &           48.61 &             51.39 &            80.09 &            10.04 &             9.88 &                      51.89 &                       81.48 \\
14 &         IN &                  54323 &               57.27 &           48.99 &             51.01 &            88.24 &             6.66 &             5.10 &                      52.60 &                       89.16 \\
15 &         KS &                  23561 &               59.10 &           49.61 &             50.39 &            88.60 &             4.06 &             7.34 &                      52.66 &                       89.41 \\
16 &         KY &                  36794 &               52.48 &           48.65 &             51.35 &            90.70 &             5.91 &             3.39 &                      51.97 &                       90.94 \\
17 &         LA &                  35510 &               51.31 &           47.75 &             52.25 &            68.39 &            26.48 &             5.13 &                      50.11 &                       71.57 \\
18 &         MA &                  58502 &               60.53 &           48.07 &             51.93 &            82.41 &             5.74 &            11.84 &                      50.10 &                       82.61 \\
19 &         MD &                  48776 &               60.35 &           47.64 &             52.36 &            63.46 &            24.64 &            11.90 &                      50.47 &                       63.85 \\
20 &         ME &                  11234 &               53.96 &           49.00 &             51.00 &            95.42 &             0.92 &             3.66 &                      50.33 &                       95.53 \\
21 &         MI &                  81605 &               54.03 &           49.31 &             50.69 &            85.73 &             8.63 &             5.64 &                      52.44 &                       87.00 \\
22 &         MN &                  44817 &               61.96 &           50.36 &             49.64 &            91.19 &             2.73 &             6.08 &                      52.50 &                       91.49 \\
23 &         MO &                  50640 &               55.22 &           48.89 &             51.11 &            88.17 &             7.65 &             4.18 &                      51.83 &                       89.05 \\
24 &         MS &                  23636 &               48.59 &           47.21 &             52.79 &            63.99 &            32.78 &             3.23 &                      50.45 &                       66.33 \\
25 &         MT &                   8406 &               55.97 &           50.34 &             49.66 &            90.84 &             0.19 &             8.97 &                      52.77 &                       92.22 \\
26 &         NC &                  84077 &               54.01 &           47.71 &             52.29 &            74.64 &            17.27 &             8.09 &                      50.93 &                       75.30 \\
27 &         ND &                   6321 &               61.37 &           51.67 &             48.33 &            90.78 &             1.12 &             8.10 &                      54.89 &                       91.54 \\
28 &         NE &                  15450 &               62.17 &           49.62 &             50.38 &            91.22 &             2.60 &             6.18 &                      52.48 &                       91.41 \\
29 &         NH &                  11599 &               60.36 &           48.99 &             51.01 &            94.28 &             1.24 &             4.48 &                      51.68 &                       94.54 \\
30 &         NJ &                  72639 &               59.09 &           48.18 &             51.82 &            73.25 &            10.47 &            16.28 &                      52.16 &                       73.45 \\
31 &         NM &                  15725 &               48.14 &           48.72 &             51.28 &            71.48 &             1.86 &            26.66 &                      51.07 &                       73.24 \\
32 &         NV &                  23483 &               56.02 &           49.47 &             50.53 &            69.28 &             7.40 &            23.32 &                      52.80 &                       67.73 \\
33 &         NY &                 162428 &               56.30 &           47.92 &             52.08 &            71.03 &            12.26 &            16.72 &                      50.66 &                       71.70 \\
34 &         OH &                  96983 &               56.64 &           48.59 &             51.41 &            86.52 &             9.06 &             4.43 &                      51.71 &                       87.57 \\
35 &         OK &                  29794 &               52.75 &           49.44 &             50.56 &            74.71 &             5.62 &            19.67 &                      53.17 &                       75.05 \\
36 &         OR &                  34608 &               55.65 &           49.21 &             50.79 &            87.38 &             1.46 &            11.16 &                      52.28 &                       86.62 \\
37 &         PA &                 106961 &               56.28 &           48.83 &             51.17 &            88.12 &             6.48 &             5.40 &                      51.77 &                       89.25 \\
38 &         RI &                   8774 &               57.36 &           47.53 &             52.47 &            86.18 &             4.89 &             8.94 &                      49.59 &                       86.89 \\
39 &         SC &                  41155 &               52.67 &           47.57 &             52.43 &            73.82 &            21.36 &             4.82 &                      50.51 &                       74.95 \\
40 &         SD &                   6902 &               61.92 &           49.49 &             50.51 &            87.67 &             0.90 &            11.43 &                      51.68 &                       90.59 \\
41 &         TN &                  55284 &               54.49 &           48.14 &             51.86 &            83.57 &            12.22 &             4.21 &                      52.01 &                       83.88 \\
42 &         TX &                 212094 &               57.12 &           48.74 &             51.26 &            78.13 &             9.64 &            12.23 &                      53.37 &                       78.10 \\
43 &         UT &                  23356 &               63.02 &           49.26 &             50.74 &            89.84 &             0.80 &             9.36 &                      55.05 &                       89.57 \\
44 &         VA &                  69123 &               58.12 &           48.38 &             51.62 &            74.09 &            15.14 &            10.76 &                      51.24 &                       74.15 \\
45 &         VT &                   5463 &               59.45 &           49.37 &             50.63 &            96.25 &             0.68 &             3.08 &                      50.83 &                       96.34 \\
46 &         WA &                  61695 &               56.49 &           49.34 &             50.66 &            79.73 &             2.77 &            17.49 &                      52.81 &                       78.54 \\
47 &         WI &                  48740 &               60.32 &           50.65 &             49.35 &            92.12 &             3.20 &             4.68 &                      52.55 &                       93.09 \\
48 &         WV &                  15108 &               46.60 &           49.21 &             50.79 &            94.53 &             3.30 &             2.17 &                      52.28 &                       95.36 \\
49 &         WY &                   4634 &               57.60 &           49.76 &             50.24 &            91.02 &             0.50 &             8.48 &                      52.75 &                       92.24 \\
\bottomrule
\end{tabular}

C:\Users\sarab\AppData\Local\Temp\ipykernel_15236\792255623.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(table1_final.to_latex())

## Table with domain knowledge groups for each year

In [3]:
json_file_path = os.path.join(udir,'clustering_infos.json')
with open(json_file_path, 'r') as j:
    clustering_infos = json.loads(j.read())

In [4]:
clustering_infos

{'BEA_clustering': {'2014': {'0': ['ME',
    'VT',
    'RI',
    'DE',
    'ND',
    'SD',
    'MT',
    'ID',
    'WY',
    'AK'],
   '1': ['NH', 'WV', 'MS', 'AR', 'KS', 'NE', 'NM', 'UT', 'NV', 'HI'],
   '2': ['CT', 'KY', 'SC', 'AL', 'IA', 'MO', 'LA', 'OK', 'AZ', 'OR'],
   '3': ['MA', 'MD', 'VA', 'TN', 'IN', 'MI', 'WI', 'MN', 'CO', 'WA'],
   '4': ['CA', 'TX', 'IL', 'FL', 'GA', 'NC', 'OH', 'PA', 'NY', 'NJ']},
  '2015': {'0': ['ME', 'VT', 'RI', 'WV', 'ND', 'SD', 'MT', 'ID', 'WY', 'AK'],
   '1': ['NH', 'DE', 'MS', 'AR', 'KS', 'NE', 'NM', 'UT', 'NV', 'HI'],
   '2': ['CT', 'KY', 'SC', 'AL', 'IA', 'MO', 'LA', 'OK', 'AZ', 'OR'],
   '3': ['MA', 'MD', 'VA', 'TN', 'IN', 'MI', 'WI', 'MN', 'CO', 'WA'],
   '4': ['CA', 'TX', 'IL', 'FL', 'GA', 'NC', 'OH', 'PA', 'NY', 'NJ']},
  '2016': {'0': ['ME', 'VT', 'RI', 'DE', 'ND', 'SD', 'MT', 'ID', 'WY', 'AK'],
   '1': ['NH', 'WV', 'MS', 'AR', 'KS', 'NE', 'NM', 'UT', 'NV', 'HI'],
   '2': ['CT', 'KY', 'SC', 'AL', 'IA', 'MO', 'LA', 'OK', 'AZ', 'OR'],
   '3': ['MA', 'MD', 'VA', 'TN', 'IN', 'MI', 'WI', 'MN', 'CO', 'WA'],
   '4': ['CA', 'TX', 'IL', 'FL', 'GA', 'NC', 'OH', 'PA', 'NY', 'NJ']},
  '2017': {'0': ['ME', 'VT', 'RI', 'DE', 'ND', 'SD', 'MT', 'ID', 'WY', 'AK'],
   '1': ['NH', 'WV', 'MS', 'AR', 'KS', 'NE', 'NM', 'UT', 'NV', 'HI'],
   '2': ['CT', 'KY', 'SC', 'AL', 'IA', 'MO', 'LA', 'OK', 'OR', 'WI'],
   '3': ['AZ', 'MA', 'MD', 'VA', 'TN', 'IN', 'MI', 'MN', 'CO', 'WA'],
   '4': ['CA', 'TX', 'IL', 'FL', 'GA', 'NC', 'OH', 'PA', 'NY', 'NJ']},
  '2018': {'0': ['ME', 'VT', 'RI', 'DE', 'ND', 'SD', 'MT', 'ID', 'WY', 'AK'],
   '1': ['NH', 'WV', 'MS', 'AR', 'KS', 'NE', 'NM', 'UT', 'NV', 'HI'],
   '2': ['CT', 'KY', 'SC', 'AL', 'IA', 'MO', 'LA', 'OK', 'OR', 'WI'],
   '3': ['AZ', 'MA', 'MD', 'VA', 'TN', 'IN', 'MI', 'MN', 'CO', 'WA'],
   '4': ['CA', 'TX', 'IL', 'FL', 'GA', 'NC', 'OH', 'PA', 'NY', 'NJ']}}}

In [5]:
prova = pd.DataFrame.from_dict(clustering_infos['BEA_clustering'], orient='index')
groups = prova.T

In [6]:
groups= groups.rename(index={'0': 'Group 1','1':'Group 2','2':'Group 3','3':'Group 4','4':'Group 5'})

In [7]:
groups

,2014,2015,2016,2017,2018
Group 1,"[ME, VT, RI, DE, ND, SD, MT, ID, WY, AK]","[ME, VT, RI, WV, ND, SD, MT, ID, WY, AK]","[ME, VT, RI, DE, ND, SD, MT, ID, WY, AK]","[ME, VT, RI, DE, ND, SD, MT, ID, WY, AK]","[ME, VT, RI, DE, ND, SD, MT, ID, WY, AK]"
Group 2,"[NH, WV, MS, AR, KS, NE, NM, UT, NV, HI]","[NH, DE, MS, AR, KS, NE, NM, UT, NV, HI]","[NH, WV, MS, AR, KS, NE, NM, UT, NV, HI]","[NH, WV, MS, AR, KS, NE, NM, UT, NV, HI]","[NH, WV, MS, AR, KS, NE, NM, UT, NV, HI]"
Group 3,"[CT, KY, SC, AL, IA, MO, LA, OK, AZ, OR]","[CT, KY, SC, AL, IA, MO, LA, OK, AZ, OR]","[CT, KY, SC, AL, IA, MO, LA, OK, AZ, OR]","[CT, KY, SC, AL, IA, MO, LA, OK, OR, WI]","[CT, KY, SC, AL, IA, MO, LA, OK, OR, WI]"
Group 4,"[MA, MD, VA, TN, IN, MI, WI, MN, CO, WA]","[MA, MD, VA, TN, IN, MI, WI, MN, CO, WA]","[MA, MD, VA, TN, IN, MI, WI, MN, CO, WA]","[AZ, MA, MD, VA, TN, IN, MI, MN, CO, WA]","[AZ, MA, MD, VA, TN, IN, MI, MN, CO, WA]"
Group 5,"[CA, TX, IL, FL, GA, NC, OH, PA, NY, NJ]","[CA, TX, IL, FL, GA, NC, OH, PA, NY, NJ]","[CA, TX, IL, FL, GA, NC, OH, PA, NY, NJ]","[CA, TX, IL, FL, GA, NC, OH, PA, NY, NJ]","[CA, TX, IL, FL, GA, NC, OH, PA, NY, NJ]"

In [12]:
print(groups['2018'].to_latex(caption='Groups of US states following US Bureau of Economic Analysis GDP reports'))

\begin{table}
\centering
\caption{Groups of US states following US Bureau of Economic Analysis GDP reports}
\begin{tabular}{ll}
\toprule
{} &                                      2018 \\
\midrule
Group 1 &  [ME, VT, RI, DE, ND, SD, MT, ID, WY, AK] \\
Group 2 &  [NH, WV, MS, AR, KS, NE, NM, UT, NV, HI] \\
Group 3 &  [CT, KY, SC, AL, IA, MO, LA, OK, OR, WI] \\
Group 4 &  [AZ, MA, MD, VA, TN, IN, MI, MN, CO, WA] \\
Group 5 &  [CA, TX, IL, FL, GA, NC, OH, PA, NY, NJ] \\
\bottomrule
\end{tabular}
\end{table}

C:\Users\sarab\AppData\Local\Temp\ipykernel_16256\357604081.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(groups['2018'].to_latex(caption='Groups of US states following US Bureau of Economic Analysis GDP reports'))