# Tables for thesis

In [1]:
import pandas as pd
import numpy as np
import glob
import os
import json
import re
from pathlib import Path

In [2]:
# directory management
wdir = os.getcwd()
udir = os.path.join(os.path.split(wdir)[0], "utils")
ddir = os.path.join(os.path.split(os.path.split(wdir)[0])[0], "fair_ml_thesis_data", "rawdata")

json_file_path = os.path.join(udir,'tasks_metadata.json')
with open(json_file_path, 'r') as j:
    task_infos = json.loads(j.read())

## Create year table with this info for each state:
- sample size
- share of positive class
- share of male vs female
- share of white/black/other
- share of privileged group in positive class (sex)
- share of privileged group in positive class (race)

In [3]:
# get all files for year y
year=2014
task='ACSEmployment'
data_file_paths = glob.glob(os.path.join(ddir, str(year), '1-Year') + f'/{str(year)}*_{task}.csv')
data_file_paths

['C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AK_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AL_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AR_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_AZ_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_CA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_CO_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_CT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_DE_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_FL_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_GA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_HI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_IA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_ID_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_IL_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_IN_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_KS_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_KY_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_LA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MD_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_ME_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MN_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MO_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MS_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_MT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NC_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_ND_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NE_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NH_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NJ_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NM_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NV_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_NY_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_OH_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_OK_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_OR_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_PA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_PR_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_RI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_SC_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_SD_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_TN_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_TX_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_UT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_VA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_VT_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WA_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WI_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WV_ACSEmployment.csv',
 'C:\\Users\\sarab\\Desktop\\Data_Science_MSc\\master_thesis\\fair_ml_thesis_data\\rawdata\\2014\\1-Year\\2014_WY_ACSEmployment.csv']

In [4]:
state_pattern = re.compile(r"_([^_]+)_")
test_path = Path(data_file_paths[0])
print(state_pattern.findall(test_path.name)[-1])

AK

In [5]:
table_1 = {'state':[],'sample_size':[], '%_employed_dataset':[],
           '%_male':[],'%_female':[],'%_white':[],'%_black':[],'%_other':[],
           '%_male_employed':[], '%_white_employed':[]}

for p in data_file_paths:

    # load data and change RAC1P values
    df = pd.read_csv(p)
    # age between 16 and 90
    df = df[df['AGEP'].between(16,90)]
    df['RAC1P'] = pd.to_numeric(df['RAC1P'])
    df.loc[df['RAC1P'] > 2, 'RAC1P'] = 3
    # state name
    table_1['state'].append(state_pattern.findall(p)[-1])
    # sample size
    table_1['sample_size'].append(len(df))
    # percentage of employed (esr 1) in dataset
    table_1['%_employed_dataset'].append(round(df['ESR'].value_counts(normalize=True).to_dict()[1],5)*100)
    # share of male and female
    table_1['%_male'].append(round(df['SEX'].value_counts(normalize=True).to_dict()[1.0],5)*100)
    table_1['%_female'].append(round(df['SEX'].value_counts(normalize=True).to_dict()[2.0],5)*100)
    # share of white,black,other (RAC1P)
    table_1['%_white'].append(round(df['RAC1P'].value_counts(normalize=True).to_dict()[1.0],5)*100)
    table_1['%_black'].append(round(df['RAC1P'].value_counts(normalize=True).to_dict()[2.0],5)*100)
    table_1['%_other'].append(round(df['RAC1P'].value_counts(normalize=True).to_dict()[3.0],5)*100)
    # share of male employed
    table_1['%_male_employed'].append(round( (len(df[ (df['SEX']==1.0) & (df['ESR']==1) ])/len(df[df['ESR']==1]))*100
                                             ,5))
    # share of white employed
    table_1['%_white_employed'].append(round( (len(df[ (df['RAC1P']==1.0) & (df['ESR']==1) ])/len(df[df['ESR']==1]))*100
                                             ,5))
table1_final = pd.DataFrame.from_dict(table_1)
table1_final

,state,sample_size,%_employed_dataset,%_male,%_female,%_white,%_black,%_other,%_male_employed,%_white_employed
0,AK,5074,55.045,52.976,47.024,56.957,1.498,41.545,53.41926,62.51343
1,AL,39150,48.447,47.290,52.710,73.195,23.438,3.367,51.94285,75.53119
2,AR,23861,48.845,48.032,51.968,82.302,13.558,4.141,52.62977,83.45774
3,AZ,52589,50.326,49.351,50.649,79.125,3.520,17.355,52.79604,80.07632
4,CA,298838,53.698,49.071,50.929,63.793,5.344,30.863,53.66237,63.48975
5,CO,42090,60.102,49.587,50.413,87.824,3.146,9.031,52.88374,88.43736
6,CT,29475,58.209,47.820,52.180,82.025,8.438,9.537,50.92382,82.87579
7,DE,7406,54.456,48.191,51.809,76.789,16.500,6.711,50.38433,76.64270
8,FL,160571,50.110,47.695,52.305,80.361,13.302,6.337,50.90602,80.00298
9,GA,77261,52.746,47.944,52.056,66.798,26.549,6.653,51.52140,68.41627
10,HI,11546,54.166,49.602,50.398,27.005,1.646,71.349,50.83147,23.60090
11,IA,25396,59.844,48.811,51.189,95.200,1.701,3.099,51.85551,95.76260
12,ID,11935,54.319,49.828,50.172,93.305,0.511,6.183,54.21873,93.18217
13,IL,102240,56.826,48.371,51.629,79.046,11.291,9.663,51.79263,81.45579
14,IN,53408,55.660,48.472,51.528,88.889,6.909,4.202,52.20170,90.15710
15,KS,22783,58.206,49.247,50.753,89.325,4.064,6.610,52.86932,90.09879
16,KY,36108,51.061,48.241,51.759,90.684,6.339,2.977,51.84141,91.12112
17,LA,35484,51.265,47.830,52.170,67.394,28.187,4.419,51.35507,70.36996
18,MA,56286,59.530,47.468,52.532,83.152,5.811,11.036,49.87018,84.01528
19,MD,47531,59.940,47.289,52.711,63.914,25.604,10.482,50.26325,64.83678
20,ME,10897,53.519,48.463,51.537,95.797,0.936,3.267,50.41152,95.97051
21,MI,80191,51.867,48.901,51.099,85.013,9.823,5.164,51.91739,87.25026
22,MN,43678,61.729,50.144,49.856,92.067,2.518,5.415,52.25503,92.62666
23,MO,49574,54.276,48.271,51.729,86.963,8.795,4.242,51.02390,88.60891
24,MS,23362,47.038,47.098,52.902,61.617,35.755,2.628,50.62335,64.68286
25,MT,7985,55.617,49.718,50.282,90.332,0.501,9.167,52.17293,92.63679
26,NC,79453,52.259,47.801,52.199,73.850,19.191,6.959,51.26803,75.46061
27,ND,6128,60.150,50.604,49.396,92.412,0.718,6.870,54.69343,94.00434
28,NE,15132,62.622,49.075,50.925,91.891,2.822,5.287,52.05783,92.80287
29,NH,11227,60.800,48.998,51.002,94.967,0.989,4.044,51.58219,95.10694
30,NJ,71194,58.075,47.656,52.344,72.658,11.882,15.461,51.66401,73.02036
31,NM,15475,48.905,48.614,51.386,68.653,1.512,29.835,51.22886,71.24736
32,NV,21489,54.372,49.230,50.770,71.572,7.078,21.350,52.89284,70.60938
33,NY,160266,55.057,47.639,52.361,71.434,12.948,15.618,50.62729,72.62486
34,OH,95226,55.215,48.122,51.878,86.065,9.904,4.031,51.71076,87.84876
35,OK,29418,52.675,49.640,50.360,74.975,5.809,19.216,53.54930,75.38720
36,OR,32083,53.224,48.674,51.326,87.772,1.431,10.797,51.91497,87.57320
37,PA,105512,55.270,48.784,51.216,88.250,7.155,4.596,52.05775,90.10392
38,PR,26287,33.267,46.464,53.536,71.754,9.533,18.713,52.67010,69.75415
39,RI,8914,56.899,47.285,52.715,85.775,4.914,9.311,50.17744,86.96767
40,SC,38896,50.962,47.722,52.278,72.450,23.740,3.810,51.23096,74.62415
41,SD,6787,61.397,49.845,50.155,87.417,0.855,11.728,52.60379,90.64075
42,TN,53044,51.964,47.736,52.264,82.236,13.642,4.123,51.55638,82.85808
43,TX,199010,56.222,48.690,51.310,78.408,10.339,11.253,53.82436,78.67510
44,UT,20823,61.130,49.801,50.199,90.597,0.792,8.611,56.39092,90.69841
45,VA,67316,57.117,48.100,51.900,73.399,16.849,9.753,50.95321,74.26461
46,VT,5305,59.246,48.765,51.235,96.287,0.754,2.959,51.06586,96.78651
47,WA,56576,55.023,48.742,51.258,81.644,2.680,15.676,52.54096,81.28172
48,WI,47489,59.435,49.763,50.237,92.095,3.500,4.405,51.78742,93.26838
49,WV,15111,46.741,47.985,52.015,94.620,3.269,2.111,52.44230,94.97381
50,WY,4574,59.729,49.585,50.415,91.233,0.721,8.045,53.29429,92.93558

In [9]:
#table1_final.style.to_latex()
print(table1_final.to_latex())

\begin{tabular}{llrrrrrrrrr}
\toprule
{} & state &  sample\_size &  \%\_employed\_dataset &  \%\_male &  \%\_female &  \%\_white &  \%\_black &  \%\_other &  \%\_male\_employed &  \%\_white\_employed \\
\midrule
0  &    AK &         5074 &              55.045 &  52.976 &    47.024 &   56.957 &    1.498 &   41.545 &         53.41926 &          62.51343 \\
1  &    AL &        39150 &              48.447 &  47.290 &    52.710 &   73.195 &   23.438 &    3.367 &         51.94285 &          75.53119 \\
2  &    AR &        23861 &              48.845 &  48.032 &    51.968 &   82.302 &   13.558 &    4.141 &         52.62977 &          83.45774 \\
3  &    AZ &        52589 &              50.326 &  49.351 &    50.649 &   79.125 &    3.520 &   17.355 &         52.79604 &          80.07632 \\
4  &    CA &       298838 &              53.698 &  49.071 &    50.929 &   63.793 &    5.344 &   30.863 &         53.66237 &          63.48975 \\
5  &    CO &        42090 &              60.102 &  49.587 &    50.413 &   87.824 &    3.146 &    9.031 &         52.88374 &          88.43736 \\
6  &    CT &        29475 &              58.209 &  47.820 &    52.180 &   82.025 &    8.438 &    9.537 &         50.92382 &          82.87579 \\
7  &    DE &         7406 &              54.456 &  48.191 &    51.809 &   76.789 &   16.500 &    6.711 &         50.38433 &          76.64270 \\
8  &    FL &       160571 &              50.110 &  47.695 &    52.305 &   80.361 &   13.302 &    6.337 &         50.90602 &          80.00298 \\
9  &    GA &        77261 &              52.746 &  47.944 &    52.056 &   66.798 &   26.549 &    6.653 &         51.52140 &          68.41627 \\
10 &    HI &        11546 &              54.166 &  49.602 &    50.398 &   27.005 &    1.646 &   71.349 &         50.83147 &          23.60090 \\
11 &    IA &        25396 &              59.844 &  48.811 &    51.189 &   95.200 &    1.701 &    3.099 &         51.85551 &          95.76260 \\
12 &    ID &        11935 &              54.319 &  49.828 &    50.172 &   93.305 &    0.511 &    6.183 &         54.21873 &          93.18217 \\
13 &    IL &       102240 &              56.826 &  48.371 &    51.629 &   79.046 &   11.291 &    9.663 &         51.79263 &          81.45579 \\
14 &    IN &        53408 &              55.660 &  48.472 &    51.528 &   88.889 &    6.909 &    4.202 &         52.20170 &          90.15710 \\
15 &    KS &        22783 &              58.206 &  49.247 &    50.753 &   89.325 &    4.064 &    6.610 &         52.86932 &          90.09879 \\
16 &    KY &        36108 &              51.061 &  48.241 &    51.759 &   90.684 &    6.339 &    2.977 &         51.84141 &          91.12112 \\
17 &    LA &        35484 &              51.265 &  47.830 &    52.170 &   67.394 &   28.187 &    4.419 &         51.35507 &          70.36996 \\
18 &    MA &        56286 &              59.530 &  47.468 &    52.532 &   83.152 &    5.811 &   11.036 &         49.87018 &          84.01528 \\
19 &    MD &        47531 &              59.940 &  47.289 &    52.711 &   63.914 &   25.604 &   10.482 &         50.26325 &          64.83678 \\
20 &    ME &        10897 &              53.519 &  48.463 &    51.537 &   95.797 &    0.936 &    3.267 &         50.41152 &          95.97051 \\
21 &    MI &        80191 &              51.867 &  48.901 &    51.099 &   85.013 &    9.823 &    5.164 &         51.91739 &          87.25026 \\
22 &    MN &        43678 &              61.729 &  50.144 &    49.856 &   92.067 &    2.518 &    5.415 &         52.25503 &          92.62666 \\
23 &    MO &        49574 &              54.276 &  48.271 &    51.729 &   86.963 &    8.795 &    4.242 &         51.02390 &          88.60891 \\
24 &    MS &        23362 &              47.038 &  47.098 &    52.902 &   61.617 &   35.755 &    2.628 &         50.62335 &          64.68286 \\
25 &    MT &         7985 &              55.617 &  49.718 &    50.282 &   90.332 &    0.501 &    9.167 &         52.17293 &          92.63679 \\
26 &    NC &        79453 &              52.259 &  47.801 &    52.199 &   73.850 &   19.191 &    6.959 &         51.26803 &          75.46061 \\
27 &    ND &         6128 &              60.150 &  50.604 &    49.396 &   92.412 &    0.718 &    6.870 &         54.69343 &          94.00434 \\
28 &    NE &        15132 &              62.622 &  49.075 &    50.925 &   91.891 &    2.822 &    5.287 &         52.05783 &          92.80287 \\
29 &    NH &        11227 &              60.800 &  48.998 &    51.002 &   94.967 &    0.989 &    4.044 &         51.58219 &          95.10694 \\
30 &    NJ &        71194 &              58.075 &  47.656 &    52.344 &   72.658 &   11.882 &   15.461 &         51.66401 &          73.02036 \\
31 &    NM &        15475 &              48.905 &  48.614 &    51.386 &   68.653 &    1.512 &   29.835 &         51.22886 &          71.24736 \\
32 &    NV &        21489 &              54.372 &  49.230 &    50.770 &   71.572 &    7.078 &   21.350 &         52.89284 &          70.60938 \\
33 &    NY &       160266 &              55.057 &  47.639 &    52.361 &   71.434 &   12.948 &   15.618 &         50.62729 &          72.62486 \\
34 &    OH &        95226 &              55.215 &  48.122 &    51.878 &   86.065 &    9.904 &    4.031 &         51.71076 &          87.84876 \\
35 &    OK &        29418 &              52.675 &  49.640 &    50.360 &   74.975 &    5.809 &   19.216 &         53.54930 &          75.38720 \\
36 &    OR &        32083 &              53.224 &  48.674 &    51.326 &   87.772 &    1.431 &   10.797 &         51.91497 &          87.57320 \\
37 &    PA &       105512 &              55.270 &  48.784 &    51.216 &   88.250 &    7.155 &    4.596 &         52.05775 &          90.10392 \\
38 &    PR &        26287 &              33.267 &  46.464 &    53.536 &   71.754 &    9.533 &   18.713 &         52.67010 &          69.75415 \\
39 &    RI &         8914 &              56.899 &  47.285 &    52.715 &   85.775 &    4.914 &    9.311 &         50.17744 &          86.96767 \\
40 &    SC &        38896 &              50.962 &  47.722 &    52.278 &   72.450 &   23.740 &    3.810 &         51.23096 &          74.62415 \\
41 &    SD &         6787 &              61.397 &  49.845 &    50.155 &   87.417 &    0.855 &   11.728 &         52.60379 &          90.64075 \\
42 &    TN &        53044 &              51.964 &  47.736 &    52.264 &   82.236 &   13.642 &    4.123 &         51.55638 &          82.85808 \\
43 &    TX &       199010 &              56.222 &  48.690 &    51.310 &   78.408 &   10.339 &   11.253 &         53.82436 &          78.67510 \\
44 &    UT &        20823 &              61.130 &  49.801 &    50.199 &   90.597 &    0.792 &    8.611 &         56.39092 &          90.69841 \\
45 &    VA &        67316 &              57.117 &  48.100 &    51.900 &   73.399 &   16.849 &    9.753 &         50.95321 &          74.26461 \\
46 &    VT &         5305 &              59.246 &  48.765 &    51.235 &   96.287 &    0.754 &    2.959 &         51.06586 &          96.78651 \\
47 &    WA &        56576 &              55.023 &  48.742 &    51.258 &   81.644 &    2.680 &   15.676 &         52.54096 &          81.28172 \\
48 &    WI &        47489 &              59.435 &  49.763 &    50.237 &   92.095 &    3.500 &    4.405 &         51.78742 &          93.26838 \\
49 &    WV &        15111 &              46.741 &  47.985 &    52.015 &   94.620 &    3.269 &    2.111 &         52.44230 &          94.97381 \\
50 &    WY &         4574 &              59.729 &  49.585 &    50.415 &   91.233 &    0.721 &    8.045 &         53.29429 &          92.93558 \\
\bottomrule
\end{tabular}

C:\Users\sarab\AppData\Local\Temp\ipykernel_12940\792255623.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(table1_final.to_latex())